# The Singularity

## 1) Create the Hypothesis

## 2) Exploratory Data Analysis

### 2.1) Import libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

### 2.2) Locate and Access Data

In [3]:
# Read in store data
df_store = pd.read_csv('./data/store.csv', low_memory=False)

# Read in store data
df_train = pd.read_csv('./data/train.csv', low_memory=False)

In [4]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

### 2.3) Subset to Time Period

### 2.4) Explore Data - Graphs and Correlations

## 3) Clean Data

### 3.1) Cut Features with too many missing values

### 3.2) Clean Numeric data

### 3.3) Clean Categorical Data

### 3.4) Clean Ordinal Data

### 3.5) Drop Superfluous Columns

### 3.6) Remove Highly Correlated Variables

## 4) Balance Positive and Negative Distribution

## 5) Train, Test, Split

## 6) Select Model Features

## 7) Normalise and Scale

***

Data should be model ready by now

***

## 8) Kfolds Cross Validation

## 9) Build Models

### 9.1) Baseline - Mean and Median of Sales

### 9.2) Linear Regression

### 9.3) Random Forest

#### 9.3.1) What Features did Random Forest use?

### 9.4) Xgboost

#### 9.4.1) What Features did Xgboost use?

### 9.5) Facebook Prophet

## 10) Hyper parameter tuning

### 10.1) Random Hyperparameter Grid

In [1]:
from sklearn.model_selection import RandomizedSearchCV